<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Brasil Burger</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font/flaticon.css">
        <link rel="stylesheet" href="assets/css/plugins/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="icon" type="image/png" href="assets/images/logo/logo.png">
    </head>
    <!-- =================Body Started==================== -->
    <body>

        <!-- =================Header Started================ -->
        <header>
            <div class="main-nav">
                <div class="container">
                    <div class="row">
                        <div class="menu-toggle"></div>
                        <div class="logo">
                            <img src="assets/images/logo/logo.png">
                        </div>

                        <div class="my-nav">
                            <div class="menu">
                                <ul>
                                    <li><a href="/homeA">Home</a></li>
                                    <li><a href="/allMenu">Our Menu</a></li>
                                    <li><a href="/liste">Mes Commandes</a></li>
                                    <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a></li>
                                    <li><a href="/logout"><img src="assets/images/logo/user-interface.png" width="25px", margin-top="2"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- =================Header End================ -->
        <!-- ->->->->->->->->->->->->->->->->->->->->->->->->->->->->->-> -->

		<!-- ->->->->->->->->->->->->->->->->->->->->->->->->->->->->->-> -->
        <!-- =================Main Started================ -->
		<main>
			<section class="slider">
                <div class="shape"></div>
                <div class="heading">
                                
                            </div>
                <section class="bg-04" id="our-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading">
                                <span>Menu</span>
                                <h2>Explore Our Best Menu</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Asperiores officiis explicabo blanditiis consequuntur fugit 
                                fugiat, incidunt totam consectetur veritatis minus corporis
                                doloribus, qui maxime velit nesciunt, officia praesentium odit 
                                facilis.</p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="wrapper">
                                    
                                        <div class="tab-content">
                                            <figure>
                                                <img src="assets/images/menu/1.jpg">
                                            </figure>
                                            <div class="sentence">
                                                <h3>Burger Nuggets<span>3500 f</span></h3>
                                                <h6>Nuggets / Emmental/ Sauce Béchamel</h6>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                Repellendus unde fuga saepe accusantium hic iusto qui </p>
                                            </div>
                                            <div class="rate-box">
                                                <ol>
                                                    <li><span class="flaticon-star"></span></li>
                                                    <li><span class="flaticon-star"></span></li>
                                                    <li><span class="flaticon-star"></span></li>
                                                    <li><span class="flaticon-star"></span></li>
                                                </ol>
                                                <div class="plus">
                                                    <a><span class="flaticon-plus"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </section>
                </div>
            </section>
          
              <!-- ------------------------------------------------------------------ -->
 
        </main>


  <!-- --------------------------------------------------------------------------- -->
            
        <!-- =================Main End================ -->

        <!-- =====================>>>>>Footer Started>>>>>======================== -->

        <footer>
            <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-content">
                    <h2>SMART CHARITABLES</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime adipisci veniam
                    voluptatum voluptatem sed ex error beatae, asperiores dignissimos?</p>
                    <ul>
                    <li><i class="flaticon-facebook" href='https://www.facebook.com/brasilburger_senegal-102549748217138'></i></li>
                    <li><i class="flaticon-instagram" href='https://www.instagram.com/brasilburger_senegal/'></i></li>
                    </ul>
                </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-content">
                    <h2>Quick Links</h2>
                    <ol>
                    <li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>Home</a></li>
                    <li><a href="#about-us"><i class="flaticon-double-right-arrows-angles"></i>About Us</a></li>
                    <li><a href="#our-menu"><i class="flaticon-double-right-arrows-angles"></i>Menu</a></li>
                    <li><a href="#contact"><i class="flaticon-double-right-arrows-angles"></i>Contact Us</a></li>
                    </ol>
                </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="footer-content">
                    <h2>News Letters</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="form-group">
                    <input class="form-control" role="" name="email" type="email" placeholder="Enter Your Email">
                    <i class="flaticon-send"></i>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="copy-right">
            <div class="container">
                <div class="copy-right-card">
                <p>2022 @ All Rights Reserved Designed and developed by Bonnie 😘</p>
                </div>
            </div>
            </div>
        </footer>
        <!-- ================================================================= -->
		<!-- ->->->->->->->->->->->->->->->->->->->->->->->->->->->->->-> -->
        <!-- =================Footer End================ -->
		
    </body>
    <!-- =================Body End==================== -->

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
</html>